<head>
  <title>INSPINIA | Main view</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <!--추가 스타일-->
</head>

<!--우측 상단 헤더 영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>메세지 정보 관리</h2>
    <ol class="breadcrumb">
      <li>
        <a href="../main">Home -></a>
      </li>
      <li>
        <a href="../message/list">메세지 정보 관리 -></a>
      </li>
      <li class="active">
        <strong> 조회</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

  <!-- 관리자 조회 옵션 입력 영역  -->
<div class="wrapper wrapper-content">  
  <form action="/message/list" method="post" id="searchForm">
    <div class="ibox-content m-b-sm border-bottom">
        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="channel_id">채널명</label>
                    <select name="channel_id" id="channel_id" class="form-control">
                      <% var keys = Object.keys(channel_id_value_obj).sort();%>
                        <% for(var i = 0; i < keys.length; i++){ %>
                          <% var key = keys[i];%>
                          <option value="<%= key %>" <% if (searchOption.channel_id == key) { %> selected <% } %> ><%= channel_id_value_obj[key] %></option>
                      <% } %>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="nick_name">닉네임</label>
                    <input type="text" name="nick_name" id="nick_name" value="<%=searchOption.nick_name%>" class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                  <label class="control-label" for="msg_type_code">메세지타입</label>
                  <select name="msg_type_code" id="msg_type_code" class="form-control">
                    <% var keys = Object.keys(msg_type_code_value_obj).sort();%>
                      <% for(var i = 0; i < keys.length; i++){ %>
                        <% var key = keys[i];%>
                        <option value="<%= key %>" <% if (searchOption.msg_type_code == key) { %> selected <% } %> ><%= msg_type_code_value_obj[key] %></option>
                    <% } %>
                  </select>
              </div>
          </div>
        </div>
        
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="조회" />
            <a href="/message/create" class="btn btn-info">신규</a>
        </div>
    </div>
</form>

<!-- 메세지 조회결과 목록 표시영역  -->
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="10%">채널</th>
                                <th width="10%">닉네임</th>
                                <th width="10%">타입</th>
                                <th width="20%">내용</th>
                                <th width="10%">ip주소</th>
                                <th width="5%">상태</th>
                                <th width="15%">등록일시</th>
                                <th width="15%">수정일시</th>
                            </tr>
                        </thead>
                        
                        <tbody class="hoverTblBody">

                            <% if (msgs.length === 0) { %>
                              <tr>
                                  <td colspan="9" style="text-align: center;">데이터가 없습니다.</td>
                              </tr>
                            <% } %>
                            <% for(var i =0;i<msgs.length;i++){ %>
                                <tr>
                                    <td>
                                      <a style="color: blue;" 
                                        onclick="showAlert('<%=msgs[i].channel_msg_id%>')">
                                        <%=msgs[i].channel_msg_id%>
                                      </a>
                                    </td>
                                    <td>
                                      <%= channel_id_value_obj[msgs[i].channel_id] %>
                                    </td>
                                    <td><%=msgs[i].nick_name%></td>
                                    <td>
                                      <%= msg_type_code_value_obj[msgs[i].msg_type_code] %>
                                    </td>
                                    <td>
                                      <% const maxLength = 25; %>
                                      <%= msgs[i].message.length > maxLength ? msgs[i].message.substring(0, maxLength) + '...' : msgs[i].message %>
                                    </td>
                                    <td><%=msgs[i].ip_address%></td>
                                    <td>
                                        <%= msgs[i].msg_state_code == 1 ? 'Y' : 'N'%>       
                                    </td>
                                    <td><%=moment(msgs[i].msg_date).format('YYYY-MM-DD HH:mm')%></td>
                                    <td><%=moment(msgs[i].edit_date).format('YYYY-MM-DD HH:mm')%></td>
                                </tr>

                           <% } %>
                           

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<template id="my-template">
  <swal-title >
    <span id="modal-title">테스트 중</span>
  </swal-title>
  <swal-icon type="warning" color="red"></swal-icon>
  
  <swal-button type="confirm" >
    <span id = 'confirm-button' >변경</span>
  </swal-button>
  <swal-button type="cancel">
    취소
  </swal-button>

  <swal-param name="allowEscapeKey" value="false" />
  <swal-param
    name="customClass"
    value='{ "popup": "my-popup" }' />
  <swal-function-param
    name="didOpen"
    value="popup => console.log(popup, channel_msg_id)" />
</template>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  // 버튼 클릭 시 호출되는 함수
  

  async function showAlert(channel_msg_id) {
    // 기본적인 알림 창
    
    await Swal.fire({
      template: "#my-template",
      didOpen: (popup) => {
        //클릭값에 따라 메세지 수정
        const modalTitle = document.getElementById('modal-title');
        modalTitle.textContent = `메세지 #${channel_msg_id}를 바꾸시겠습니까??`;
        //변경 버튼에 이벤트달기
        const confirmButton = document.getElementById('confirm-button');
        confirmButton.addEventListener('click', () => {
          // 이동할 URL 생성
          const url = `/message/modify/${channel_msg_id}`;
          

          window.location.href = url;
          Swal.close();
        });  
    },
  });

  }
</script>