<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

  <link href="/css/animate.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />

  <!--추가 스타일-->
</head>

<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>메세지 정보관리</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/main">홈</a>
      </li>
      <li>
        <a>메세지 정보관리</a>
      </li>
      <li class="active">
        <strong>조회</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<!--우측 콘텐츠 영역 -->
<form action="/message/modify/<%= msg.channel_msg_id %>" method="post">
  <div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <div>
              <label class="control-label">채널</label>
              <select name="channel_id" id="channel_id" class="form-control">
                <% var keys = Object.keys(channel_id_value_obj).sort();%>
                  <% for(var i = 0; i < keys.length; i++){ %>
                    <% var key = keys[i];%>
                    <% if (key !== "") {%>
                      <option value="<%= key %>" <% if (msg.channel_id == key) { %> selected <% } %> ><%= channel_id_value_obj[key] %></option>
                    <% } %>    
                <% } %>
              </select>              
            </div>
            <div class="form-group">
              <label class="control-label col-6">사용자 고유번호</label>
              <input type="text" name="member_id" id="member_id" value="<%=msg.member_id%>" class="form-control mb-3" required maxlength="100"/>
            </div>
            <div class="form-group">
              <label class="control-label">사용자 닉네임</label>
              <input type="text" name="nick_name" id="nick_name" value="<%=msg.nick_name%>" class="form-control" required maxlength="100"/>
            </div>
            <div class="form-group">
              <label class="control-label">메세지 유형</label>
              <select name="msg_type_code" id="msg_type_code" class="form-control">
                <% var keys = Object.keys(msg_type_code_value_obj).sort(); %>
                <% for (var i = 0; i < keys.length; i++) { %>
                  <% var key = keys[i]; %>
                  <% if (key !== "") {%>
                  <option value="<%= key %>" <% if (msg.msg_type_code == key) { %> selected <% } %> >
                    <%= msg_type_code_value_obj[key] %>
                  </option>
                  <% } %>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">message</label>
              <input type="text" name="message" value="<%=msg.message%>" id="message" class="form-control"  required maxlength="100"/>
            </div>
            <div class="form-group">
              <label class="control-label">커넥션 아이디</label>
              <input type="text" name="connection_id" id="connection_id" value="<%=msg.connection_id%>" class="form-control"  required maxlength="100"/>
            </div>
            <div class="form-group">
              <label class="control-label">아이피 주소</label>
              <input type="text" name="ip_address" id="ip_address" value="<%=msg.ip_address%>" class="form-control" required maxlength="100"/>
            </div>
            <div class="form-group">
              <label class="control-label">메세지 상태</label>
              <select name="msg_state_code" id="msg_state_code"  class="form-control" required maxlength="100">
              <option value=1 <% if( msg.msg_state_code == 1){ %> selected <% } %>>공개</option>
              <option value=0 <% if( msg.msg_state_code == 0){ %> selected <% } %>>비공개</option>              
            </select>
              
            </div>            
            <div class="form-group">
              <label class="control-label">수정일시</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">저장</button>
        <a href="/message/list" class="btn btn-info">목록</a>
      </div>
    </div>
  </div>
</form>
